@use "../style/theme";

.cover {
  column-gap: 0.5rem;
  row-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";

  .header {
  }

  .cards {
    align-content: start;
    display: grid;
    gap: 1rem;
    grid-area: main;
    grid-template-columns: repeat(auto-fit, minmax(128px, 25%));
    justify-content: center;
  }

  .summary {
    grid-area: footer;
  }
}

.header {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr auto;

  .logo {
    width: 5rem;
  }

  .title {
  }

  .curio {
    justify-self: end;
    justify-items: end;
  }
}

.covercard {
  align-items: center;
  aspect-ratio: calc(3 / 4);
  background-color: #ccd1;
  border-radius: 2px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.01);
  display: grid;
  grid-template-areas: "thumb" "details";
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
  justify-items: center;
  min-width: 0;
  padding: 0.25rem;
  transition: background-color 80ms;

  &:hover {
    transition: background-color 30ms;
    background-color: color-mix(in srgb, currentcolor 2%, #fff 7%);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.16);
  }

  .details {
    display: flex;
    flex-flow: column;
    align-items: center;
    grid-area: details;
    padding: 0.5rem;
  }

  .thumb {
    width: 100%;
  }

  .title {
    grid-area: thumb;
  }

  .desc {
    font-size: 0.8em;
    color: color-mix(in lab, #{theme.$color-brand-600} 25%, #fff 50%);
  }
}
